.article .title{
    padding:10px;
    border:1px solid #CCC;   
}

.detail{
    position: fixed;
    top:20px;
    width:500px;
    overflow: hidden;
    right:20px;
    z-index: 999;
    background-color: #CCC;
    border: 1px solid #777;
}

.detail .detailItem{
    padding:10px;
}